/*!CK:1534059198!*//*1393840248,178183447*/

.fbxPhotoSetPageHeader .fbxPhotoSetPageHeaderByline{width:714px}
.fbxPhotoSetPageHeader .fbxPhotoSetPageHeaderBox{width:714px;float:left}
.fbxPhotoSetPageHeader .fbxPhotoSetViewSwitcher{width:8px}
.fbxPhotoSetPageHeader .fbxPhotoSetViewSwitcher .fbxPhotoSetViewSwitcherIcon{margin-top:2px}
#fbxPhotoSetViewSwitcherGrid{border-right:0}
#fbxPhotoSetViewSwitcherComment{margin-left:0}
.fbxPhotoSetViewSwitcherThrobber{background-position:left center;display:inline-block}
.fbxPhotoSetPageHeader .async_throbber_left .async_saving{padding-left:28px}
#fbCommentViewList{margin-top:-10px}
div.photoSetHeader{padding-bottom:0}
._502j div{overflow:hidden}
._502k{padding-right:5px;text-align:right}
.sp_40kxkg{background-image:url(/rsrc.php/v2/ym/r/ZJq43-da4KN.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:11px}
.sx_686fca{height:11px;background-position:-11px -13px}
.selected .sx_686fca{background-position:0 -13px}
.sx_1ec68c{background-position:-11px 0}
.selected .sx_1ec68c{background-position:0 0}
._55pe{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
.webkit ._55pe{vertical-align:bottom}


._51xa{-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05);display:inline-block;vertical-align:middle;white-space:nowrap}
._51xb{-webkit-box-shadow:0 0 6px rgba(0, 0, 0, .6)}
.openToggler > ._5vto, .openToggler > ._5vto:hover, .openToggler > ._5vto:focus, .openToggler > ._5vto:active{background-color:#758ab7;border-color:#475d91 #3c5389 #3a5186;-webkit-box-shadow:none;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, .2)}
.openToggler > ._5vto:active{border-color:#334776 #384e82 #3a5186}
.openToggler > ._55pi._nk, .openToggler > ._55pi._nl{-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0}
.openToggler > ._55pi._nn, .openToggler > ._55pi._no{-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0}
.openToggler > ._55_o, .openToggler > ._55_o:hover, .openToggler > ._55_o:focus, .openToggler > ._55_o:active{background-position:0 -471px}
.openToggler > ._55_p, .openToggler > ._55_p:hover, .openToggler > ._55_p:focus, .openToggler > ._55_p:active{background-position:0 -492px}
.openToggler > ._55_q, .openToggler > ._55_q:hover, .openToggler > ._55_q:focus, .openToggler > ._55_q:active{background-position:0 -517px}
.openToggler > ._55_r, .openToggler > ._55_r:hover, .openToggler > ._55_r:focus, .openToggler > ._55_r:active{background-position:0 -546px}
.openToggler > ._55_s, .openToggler > ._55_s:hover, .openToggler > ._55_s:focus, .openToggler > ._55_s:active{background-position:0 -583px}
.uiVideoLink{background-color:#000;display:inline-block;padding:4px 0;position:relative}
.uiVideoLink:hover{text-decoration:none}
.uiVideoLink i{background-position:center 25%;background-repeat:no-repeat;display:block}
.uiVideoLinkMedium i{height:79px;width:124px}
.uiVideoLinkLarge i{height:118px;width:159px}
.uiVideoLinkHuge i{height:122px;width:171px}
.uiVideoLink .playicon{background-color:transparent;bottom:4px;display:block;height:26px;left:5px;position:absolute;width:35px}
.uiVideoLink .playtime, .uiVideoLink .titlesnippet{background-color:#000;background-color:rgba(0, 0, 0, .65);-webkit-border-radius:2px;bottom:4px;color:#fff;display:block;font-size:11px;padding:3px 6px;position:absolute}
.uiVideoLink .playtime{right:5px}
.uiVideoLink .titlesnippet{left:5px;overflow:hidden;right:50px;text-overflow:ellipsis;white-space:nowrap}
.uiVideoLink:active .playicon, .uiVideoLink:hover .playicon, .uiVideoLink:focus .playicon{background-image:url(/rsrc.php/v2/yG/r/Gj2ad6O09TZ.png);background-repeat:no-repeat}
.openToggler > a._4-s1, .openToggler > a._4-s1:hover, .openToggler > a._4-s1:focus, .openToggler > a._4-s1:active{background-color:#6d84b4;background-image:none;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none;color:#fff}
.webkit ._4-s1 ._55pe{bottom:1px;position:relative}
.webkit.safari ._4-s1 ._55pe{bottom:2px}

#bootloader_PK4DL { height: 42px; }
.bootloader_PK4DL { display:block !important; }