/*!CK:842696902!*//*1393830370,178184021*/

._5alv{opacity:0}
._5alv._5alu{left:-10000px;position:absolute;width:612px}
._5qlc .fbNubFlyoutBodyContent{min-width:205px}
.sp_blpjl6{background-image:url(/rsrc.php/v2/y0/r/MUpfBqEUvVC.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:8px}
.sx_82058c{background-position:0 0}
.sx_d36695{background-position:0 -13px}

#bootloader_YOlg9 { height: 42px; }
.bootloader_YOlg9 { display:block !important; }