/*!CK:2390156645!*//*1393836806,178138175*/

._5ud-{margin-left:auto;margin-right:0}
._5ud_{width:100%}
._4s6g{background:#f6f7fb url(/rsrc.php/v2/yx/r/dF5rIf0UKwA.png) right center no-repeat;border-bottom:1px dashed #ced5e5;margin-top:-5px;min-height:115px;position:relative}
._6nw ._4s6g{border-bottom:1px solid #d3d6db;margin:0 12px}
._4s6h{margin-right:350px}
._4s6i{margin-top:-11px;padding-right:20px;position:absolute;right:0;text-align:right;top:50%;width:350px}
._1g0r{opacity:.3}
._1g0r:hover{opacity:1}
._5g24{border:1px solid;border-color:#d9d9d9;max-width:398px;overflow:hidden;width:100%}
._5sem ._5g24._5kbs{max-width:none;width:486px}
._5g24._5kbs{width:377px}
._5g26{line-height:13px;margin:8px 8px 1px 10px}
._5g26 a{font-size:11px;font-weight:bold}
._5gta{color:gray;font-size:11px;line-height:15px;margin:0 8px 6px 10px}
._5gta a{color:gray;font-size:11px}
._5lig{background:none;-webkit-border-radius:2px}
._5g27{margin:35px 16px 10px 0}
._5p3y ._5g26 a, ._5p3y ._5gta, ._5p3y ._5gta a{font-size:12px}
._3ky{position:relative;text-align:center;z-index:1}
._3kz{vertical-align:bottom}
.hideBanner .fbPageBanner,
.fixedBody .fbPageBanner{display:none}
.fbPageBannerInner{margin:auto;width:980px}
.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
#mobile_mirror_banner{position:relative;z-index:300}
.Locale_ja_JP #navSearch{width:325px}
.Locale_ja_JP #navSearch .uiSearchInput input{width:290px}
.hasSmurfbar.Locale_ja_JP #navSearch{width:397px}
.hasSmurfbar.Locale_ja_JP #navSearch .uiSearchInput input{width:364px}
.timelineEmailabilityToolbar{background-color:#f2f2f2;border-width:0 1px 1px;border-style:dashed solid;border-color:#b7c1d7 #ccc;position:relative;width:809px}
#pagelet_above_header .timelineEmailabilityToolbar{border-width:0 0 1px;width:auto;margin:-20px -20px 20px}
.emailabilityGridContent{width:100%}
.timelineEmailabilityToolbar .customAddressButton, .timelineEmailabilityToolbar .loadingIndicator{vertical-align:middle}
.timelineEmailabilityToolbar .uiGrid .loadingIndicator{display:inline-block;margin-left:-21px;visibility:hidden}
.timelineEmailabilityToolbar .async_saving .loadingIndicator{visibility:visible}
.timelineEmailabilityToolbar .closeButton{position:absolute;right:20px;top:20px}
.emailabilityContactIcon{margin-right:15px}

#bootloader_PCRrh { height: 42px; }
.bootloader_PCRrh { display:block !important; }