/*!CK:2248948455!*//*1394231414,178134569*/

._5eh4{border:1px solid rgba(0, 0, 0, .08);margin-bottom:10px;position:relative;width:398px}
._5v3q ._5eh4{margin-bottom:0}
._5eh7{color:#888;line-height:16px}
._5eh8{background-color:#f7f7f7;padding:7px 10px;position:relative}
._5eha{color:#3b5998;font-size:13px;font-weight:bold;padding-bottom:2px}
._5v3q ._5eha{font-size:14px;line-height:18px;padding-bottom:0}
._5ehc{padding:14px 0 0 24px}
._5qq3{position:relative;z-index:1}
._5saw, ._5sax{position:relative;z-index:1}
._5saw .uiButtonLarge{height:20px}
._5saw .uiButtonLarge input:focus{outline:none}
._5say{height:32px;width:64px}
._5saz{border-left:2px solid #eaeaea;bottom:10px;position:absolute;right:10px;top:10px;width:54px;z-index:1}
._5sax .PageLikeButton{background:none;border:none;-webkit-box-shadow:none;margin:4px 0 0 16px;padding:7px 4px}
._5sax .PageLikedButton:focus{-webkit-box-shadow:none}
._5ypi{margin-left:18px;position:relative}
._5ypj{left:0;margin-top:0 !important;max-height:50px;max-width:50px;position:absolute;top:0}
._5ypk ._5ypj{max-height:32px;max-width:32px}
._5ypj .img{max-height:50px;max-width:50px}
._5ypk ._5ypj .img{max-height:32px;max-width:32px}
._5ypl{color:#888;font-weight:bold}
._5ypm ._5ypn{font-weight:normal}
._5ypo{margin-left:60px;margin-right:18px}
._5ypk ._5ypo{margin-left:40px;margin-right:0}
._5ypp{float:right;margin:-3px 18px 0 0}
._5ypq{background-color:#f7f7f7;display:table;position:relative;width:100%}
._5v3q ._5ypq{background:none}
._5ypr{background-color:#fff;display:table-cell;float:none;line-height:0;position:relative;text-align:center;vertical-align:middle}
._5yps ._5ypr{width:110px}
._5ypr a{display:block}
._5ypr:after{border-right:1px solid rgba(0, 0, 0, .08);bottom:1px;content:'';position:absolute;right:0;top:1px}
._5ypt{color:#888;display:table-cell;padding:8px 10px;width:100%}
._5v3q ._5ypt{color:#333;font-size:12px;line-height:1.38}
._5yps ._5ypt{width:auto}
._5ypt .title, ._5ypt .body{display:block;padding-bottom:3px}
._5ypt .body{position:relative}
._5ypt .title{font-weight:bold}
._5ypu.body{padding-top:7px}
._5ypt .body a{color:#888;text-decoration:none}
._5ypv .socialContext, ._5ypv .socialContext a, ._5ypw, ._5ypw .uiStreamAdditionalLogging a{color:#888}
._5ypw .action{display:inline}
._5ypx{margin-bottom:10px;position:relative}
._5ypx:first-child{margin-top:10px}
._5ypk{margin-right:18px;position:relative}
._5v3q ._5ypk{margin-right:0}
._5ypy{border-left:1px solid rgba(0, 0, 0, .08);bottom:0;left:0;position:absolute;top:0}
._5ypz{border-right:1px solid rgba(0, 0, 0, .08);bottom:0;position:absolute;right:0;top:0}
._5yp-{border-top:1px solid rgba(0, 0, 0, .08);left:0;position:absolute;right:0;top:0}
._5yp_{border-bottom:1px solid rgba(0, 0, 0, .08);bottom:0;left:0;position:absolute;right:0}
._4uts{margin-left:15px}
._4uts > a{width:20px}
._4uts{margin-top:-2px}
._514o ._4uts{margin-top:-3px}
._5v3q ._4uts, ._5v3q ._514o ._4uts{margin-top:0}
._2h2s{display:none;-webkit-transition:margin-left .3s cubic-bezier(0.165, .84, .44, 1);white-space:normal;width:100%}
._2h2s._2xyr{display:inline-block}
._56cd{-webkit-box-sizing:border-box;padding-top:14px;width:100%}
._56cd, ._5v3q ._514o ._56cd{position:relative}
._514o ._56cd{padding-top:8px;position:static}
._5v3q ._56cd{padding-top:12px}
._3t0a{border-bottom:1px solid #e9e9e9;color:gray;display:block;font-size:13px;margin:-18px 0 0;padding:13px 0 11px}
._5v3q ._3t0a{border-bottom-color:#e5e5e5;color:#898f9c;line-height:15px;margin:-12px 0 0;padding:10px 0}
._514o ._3yp9{color:#898f9c;font-weight:bold;text-transform:uppercase}
._5v3q ._514o ._3yp9{font-size:11px;line-height:12px}
._3efd > div{margin-top:8px}
._3efd > div._2xys{display:none}
._3efd > div._2xys._2xyr{display:block}
._2xyt ._56cd._1l12{overflow:hidden;white-space:nowrap;word-wrap:normal}
._2xyt ._56cd._1l12 ._2h2s{display:inline-block;vertical-align:top;word-wrap:break-word}
._2xyt ._3efd{position:relative}
._2xyt ._3efd > div._2xys{display:block;left:0;margin-top:0;opacity:0;position:absolute;top:0;-webkit-transition:opacity .3s}
._2xyt ._3efd > ._2xys._2xyr{margin-top:8px;opacity:1;position:relative}
._2xyt ._3efd > div._2xys ._2xyu{background-color:rgba(255, 255, 255, 0);bottom:0;left:0;position:absolute;right:0;top:0;z-index:1}
._2xyt ._3efd > div._2xys._2xyr ._2xyu{display:none}
._5s70{position:relative}
._5s70 a, ._5s70 button{position:relative;z-index:1}
._5s70 ._1vri, ._5s70 a._1vri{background-color:rgba(0, 0, 0, 0);bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}
._53l2{margin-bottom:10px}
._5v3q ._53l2{margin-bottom:0}
._53l2 div.title{color:#3b5998}
._53l1{bottom:10px;position:absolute;right:10px}

#bootloader_4kP_Q { height: 42px; }
.bootloader_4kP_Q { display:block !important; }