/*!CK:3922444567!*//*1393829500,178138177*/

.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:89px}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:115px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
.hasPagesManagerNavbar .pagesTimelineRightColumn .fbTimelineScrubber{top:138px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineRightColumn
.fbTimelineScrubber{top:164px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
.sp_2p7iu7{background-image:url(/rsrc.php/v2/yg/r/0EDs4dJt2Ad.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_9f18df{background-position:0 0}
.sx_96df30{background-position:0 -14px}
.sx_6516ac{background-position:0 -28px}
.sp_82j0y8{background-image:url(/rsrc.php/v2/yn/r/1MpKeMp2Rn7.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:11px;width:12px}
.sx_4b9eec{width:11px;background-position:0 -12px}
.sx_f4458d{background-position:0 0}
.sp_avdqob{background-image:url(/rsrc.php/v2/y0/r/ell7oQqnKjx.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_185247{background-position:0 0}
.sx_8fe711{background-position:0 -17px}
.sx_250d1f{background-position:0 -34px}
.sp_c8k7x4{background-image:url(/rsrc.php/v2/y5/r/ornbPiOI9S_.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d425dd{width:35px;height:35px;background-position:0 0}
.sx_9448d2{width:35px;height:35px;background-position:0 -36px}
.sx_e887b1{width:35px;height:35px;background-position:0 -72px}
.sx_8718fd{width:35px;height:35px;background-position:0 -108px}
.sx_f27d13{background-position:-17px -144px}
.sx_7c9bd5{background-position:0 -162px}
.sx_7d6a6f{background-position:-17px -161px}
.sx_b9bdfa{background-position:0 -179px}
.sx_704617{height:17px;background-position:0 -144px}
.sx_8d96f5{background-position:-17px -178px}
.sx_977d05{width:10px;background-position:0 -196px}
.sx_a306ff{width:9px;background-position:-11px -196px}
.sx_8a2633{width:8px;height:13px;background-position:0 -227px}
.sx_cbeb81{width:11px;height:13px;background-position:-21px -196px}
.sx_7f8c1d{width:9px;height:13px;background-position:0 -213px}
.sx_6e6f78{width:9px;height:13px;background-position:-10px -213px}
.sx_397af5{width:9px;height:13px;background-position:-20px -213px}
.sp_d1o4lp{background-image:url(/rsrc.php/v2/yU/r/EKXZoJdopoJ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_8cf92f{width:13px;height:14px;background-position:-13px -33px}
.selected .sx_8cf92f{background-position:0 -33px}
.sx_86565b{height:14px;background-position:-12px -48px}
.selected .sx_86565b{background-position:0 -48px}
.sx_106ea8{width:8px;height:8px;background-position:-17px -139px}
.sx_a0fe55{background-position:-12px -63px}
.selected .sx_a0fe55{background-position:0 -63px}
.sx_452771{background-position:-12px -76px}
.selected .sx_452771{background-position:0 -76px}
.sx_1fdeaf{background-position:-12px -89px}
.selected .sx_1fdeaf{background-position:0 -89px}
.sx_c3f4ff{background-position:-14px -102px}
.sx_08c64c{background-position:0 -235px}
.sx_a1a011{width:16px;height:16px;background-position:0 -120px}
.sx_e9caa8{width:16px;height:16px;background-position:0 -137px}
.sx_fa4841{width:16px;height:16px;background-position:0 -154px}
.sx_3f0dd0{width:23px;height:32px;background-position:0 0}
.sx_1b86b1{width:9px;height:5px;background-position:-17px -133px}
.sx_6a083b{width:16px;height:16px;background-position:0 -171px}
.sx_ffd80b{width:14px;height:14px;background-position:0 -205px}
.sx_f49bf8{width:14px;height:14px;background-position:0 -220px}
.sx_6feeba{width:13px;height:17px;background-position:0 -102px}
.sx_82041e{width:16px;height:16px;background-position:0 -188px}
.sx_b121f4{width:5px;height:7px;background-position:-20px -205px}
.selected .sx_b121f4{background-position:-15px -205px}
.sx_a2f20b{width:8px;background-position:-17px -120px}
._4-rr{display:inline-block}
._4-rr ._4-rs + ._4-rs{margin-left:-1px}
._4-rt{position:relative;z-index:1}
._4-ru{position:relative;z-index:2}
._4-rs._42fr{position:static}
._4-rr ._4-rs{-webkit-border-radius:0}
._4-rv ._4-rs:first-child{-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px}
._4-rv ._4-rs:last-child{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px}
.uiInfoTable{border:0;border-collapse:collapse;border-spacing:0;width:100%}
.uiInfoTableFixed{table-layout:fixed}
.uiInfoTable .spacer td{padding:5px 0}
.noBorder .spacer td{padding:0;visibility:hidden}
.uiInfoTable .label,
.uiInfoTable .data,
.uiInfoTable .rightCol{padding:3px 0 1px 0;text-align:left;vertical-align:top}
.uiInfoTable .dataRow .data,
.uiInfoTable .dataRow .rightCol{padding-top:5px}
.uiInfoTable .data > input,
.uiInfoTable .data > label input,
.uiInfoTable .rightCol > input,
.uiInfoTable .rightCol > label input{margin-left:0}
.uiInfoTable .label{color:#666;font-weight:bold;padding-right:10px;text-align:right;width:130px}
.uiInfoTable .dataRow .label{padding-top:8px}
.uiInfoTable .label .annotation{color:#999}
.uiInfoTable .rightCol{padding:0 0 0 20px;width:225px}

.uiMoreLinkCaret{margin-left:2px;padding-bottom:2px}

#bootloader_ArPVT { height: 42px; }
.bootloader_ArPVT { display:block !important; }